<% include partials/header.ejs %>
<% include partials/mainNav.ejs %>

  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/"><i class="fas fa-angle-double-left"></i> All Incidents</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text">Update Incident</h2>
            <span class="text">Use the below form to Update an Incident Report</span>
        </div>

 <form method="POST" id="update_incident">
    <div class="new_incident">
        <div class="form-group">
          <label for="indcident-number" class="text">Incident Number</label>
          <input type="hidden" name="id" value="<%= incident._id %>">
          <input type="text" name="id" value="<%= incident.id %>" placeholder="123123">
      </div>
        <div class="form-group">
            <label for="name" class="text">Name</label>
            <input type="hidden" name="id" value="<%= incident._id %>">
            <input type="text" name="name" value="<%= incident.name %>" placeholder="Jane Doe">
        </div>
        <div class="form-group">
            <label for="location" class="text">Location</label>
            <input type="hidden" name="location" value="<%= incident.location %>">
            <input type="text" name="location" value="<%= incident.location %>" placeholder="Location">
        <div class="form-group">
          <label for="name" class="text">Employee ID</label>
          <input type="hidden" name="id" value="<%= incident._id %>">
          <input type="text" name="name" value="<%= employee.ID %>" placeholder="123 456">
      </div>
        <div class="form-group">
            <label for="Email" class="text">Email</label>
            <input type="text" name="email" value="<%= incident.email%>" placeholder="example@gmail.com">
        </div>
        <div class="form-group">
          <label for="description" class="text">Incident Description</label>
          <textarea id="text" name="description" rows="30" cols="30" placeholder="What Happened?">
        </div>
        </div>
        <div class="form-group">
            <label for="activity" class="text">Status of Incident</label>
            <div class="radio inline">
                <input type="radio" id="radio-4" name="status" value="Active" <%= incident.status == 'Active' ? 'checked' : '' %> >
                <label for="radio-4" class="radio-label">Active</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-5" name="status" value="Inactive" <%= incident.status == 'Inactive' ? 'checked' : '' %> >
                <label for="radio-5" class="radio-label">Inactive</label>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn update">Save Incident</button>
        </div>

    </div>
</form>
       
    </div>
</main>

<% include partials/bottomNav.ejs %>
<% include partials/footer.ejs %>